.ptur-HeaderbarDiv {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 44px;
  background: var(--color-primary-gradient);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14);
  
}

.ptur-logoHeader{
  width: 60px;
}

.ptur-RightMenu {
  display: flex;
  align-items: center;
}

.ptur-btnPCR {
  width: 207px;
  height: 48px;
  border-radius: 24px;
  margin-right: 57px;
  margin-left: 58px;
  transition: all 0.2s;
}

.ptur-perfilMenu {
  display: flex;
  align-items: center;
}

.ptur-perfilMenu .ptur-perfilMenu-perfilImg-box {
  display: inline-block; /* displayed as inline elements */
  position: relative; /* so the images can be positioned relatively to this */
  width: 64px;
  height: 64px;
  margin-left: 12px;
  margin-right: 6px;
}

.ptur-perfilMenu-perfilImg-box .ptur-perfilMenu-perfilImg-img {
  border-radius: 100px;
  width: 64px;
  height: 64px;
}
.ptur-perfilMenu-perfilImg-box:hover .ptur-perfilMenu-perfilImg-img {
  position: absolute;
  outline: 3px solid var(--color-primary);
  cursor: pointer;
}
.ptur-flechaAvatar-box {
  display: flex;
  align-items: center;
}
.ptur-dropDownAvatar-box {
  width: 242px;
  height: 104px;
  color: var(--color-black);
  position: absolute;
  z-index: 12;
  top: 54px;
  right: -10px;
  background: var(--color-white);
  border: 1px solid var(--color-grey85);
  box-sizing: border-box;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
  animation-duration: 1s;

}

.ptur-dropDownAvatar {
  padding-bottom: 8px;
}

.ptur-dropDownAvatar-list .ptur-dropDownAvatar-listItem {
  width: 100%;
  height: 48px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 24px;
}

.ptur-dropDownAvatar-list .ptur-dropDownAvatar-listItem:hover {
  background: var(--color-primary);
  color: var(--color-white);
}
.ptur-dropDownAvatar-icons{
  fill: var(--color-black);
  stroke: var(--color-black);
}
.ptur-dropDownAvatar-list
  .ptur-dropDownAvatar-listItem:hover
  .ptur-dropDownAvatar-icons path{
  fill: var(--color-white);
  stroke: var(--color-white);
}
.ptur-dropDownAvatar-listItem > span {
  padding-left: 12px;
}
.ptur-burguerPerfil {
  display: none;
}

.clickedAvatar {
  outline: 3px solid var(--color-primary);
}

.dropdownSidebar {
  animation-name: dropdownSidebar;
}
@keyframes dropdownSidebar {
  from {
    max-height: 0;
    overflow: hidden;
  }
  to {
    max-height: 500px;
    overflow: hidden;
  }
}

.ptur-timer {
  display: contents;
  align-items: center;
}

.ptur-burguerPerfil-mobile {
  z-index: 3000;
  display: flex;
  width: 100%;
  height: 100%;
}

.ptur-headerBarHome-txtDiaHora{
  margin-right: 57px;
}
@media (max-width: 1365px) {
  .ptur-HeaderbarDiv {
    height: 75px;
    padding: 0 18px;
    transition: all 0.5s;
  }
  .logoHeader {
    align-items: center;
    width: 80px;
    transition: all 0.5s;
  }
  .ptur-btnPCR {
    margin-right: 28px;
    margin-left: 29px;
    transition: all 0.5s;
  }
  .ptur-perfilMenu {
    display: none;
  }

  .ptur-burguerPerfil {
    display: flex;
    align-items: center;
  }

  .ptur-timer {
    display: none;
  }
}

@media (max-width: 1024px) {
  .ptur-btnPCR {
    transition: all 0.5s;
    margin-right: 28px;
    margin-left: 29px;
  }
  .ptur-perfilMenu {
    display: none;
  }
  .ptur-HeaderbarDiv {
    width: 100%;
  }
  #ptur-DiaResponsive {
    transition: all 0.5s;
    font-size: 16px;
  }
}

@media (max-width: 570px) {
  .ptur-btnPCR {
    display: none;
  }
  .ptur-burguerPerfil {
    transition: all 0.5s;
    margin-left: 14px;
  }
  .ptur-headerBarHome-txtDiaHora{
    margin-right: 10px;
  }
}

@media (max-width: 340px) {
  .ptur-burguerPerfil {
    transition: all 0.5s;
    margin-left: 18px;
  }
}

@media (max-width: 300px) {
  .ptur-burguerPerfil {
    transition: all 0.5s;
    margin-left: 16px;
  }
  #ptur-DiaResponsive {
    transition: all 0.5s;
    font-size: 12px;
  }
}

.ptur-HeaderbarDiv-background{
  position: absolute;
  background-color:transparent;
  width: 100vw;
  height: 100vh;
  z-index: 12;
}

.disable {
  display:  none;
}