
.JuegoSeleccionado-container {
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 420px;
  
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
.JuegoSeleccionado-ficha{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 24px;
}
.JuegoSeleccionado-imagen{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.JuegoSeleccionado-titulo{
  width: 100%;
}
.btn{
  border: none;
  cursor: pointer;
}