.mensaje-header {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 10px;
}
.textoMensaje{
  text-align: left;
}
.mensaje-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px 60px;
}
.mensaje-btnContanier {
  display: flex;
}
.mensaje-btnCerrar {
  border: 2px solid var(--color-latex30);
}
