.seguirPatron-volverAccion {
  padding: 20px 0 0 20px;
}
.seguirPatron-btnCont {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100px;
}
.seguirPatron-btn {
  display: flex;
  align-items: center;
}
.seguirPatron-animal-juego {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.seguirPatron-pregunta-oculto{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.seguirPatron-container {
  border: 5px solid var(--color-grey90);
  border-radius: 60px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 60%;
  height: 100%;
  padding: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 20%; */
  background: var(--color-latex10);
}
.seguirPatron-imgContainerDesordenado {
  margin-top: 40px;
}
.seguirPatron-imgContainer {
  display: flex;
  flex-direction: row-reverse;
}
.seguirPatron-boxBtn {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}
.seguirPatron-pregunta {
  display: flex;
  align-items: center;
  gap: 10px;
}
.seguirPatron-btnContainer {
  display: flex;
  margin-top: 20px;
  gap: 50px;
}
.iconButtonColorPatron{
  border: none;
  background: none;
  padding-top: 26px;
}
.seguirPatron-finalizarBtn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
  margin-top: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
.seguirPatron-finalizarBtn {
  background: var(--color-white);
}
.seguirPatron-imagen,
.seguirPatron-imagenRand {
  width: 118px;
  height: 96px;
}
.seguirPatron-imagenRand {
  cursor: pointer;
}

.seguirPatron-imagenRand:hover {
  transform: scale(1.1);
  transition-duration: 200ms;
}
.seguirPatron-imagenTren {
  width: 120px;
}
@media (max-width: 768px) {
  .seguirPatron-container {
    width: 90%;
  }
  .seguirPatron-animalIzq {
    display: none;
  }
  .seguirPatron-animalDer {
    display: none;
  }
}
