.sugerenciaSaludo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 60px;
}

.sugerenciaSaludo-logoGrandin{
    width: 200px;
}