.registrobox-container {
  max-width: 1500px;
  background: var(--color-blue);
  border-radius: 50px;
  display: flex;
  margin: 40px;
}

.registrobox-formulario-body {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.registrobox-formulario {
  width: 50%;
  padding: 40px;
}

.registrobox-formulario-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.registrobox-formulario-nombreApellido {
  display: flex;
  gap: 20px;
}
.fondoBlue{
  background: linear-gradient(
    90deg,
    #0459BA 44.92%,
    rgba(4, 89, 186, 1) 100%
  );
  color: var(--color-white);
}
.registrobox-imagen-container {
  display: flex;
}
.registrobox-gradient-container {
  display: flex;
  background-color: var(--color-blue);
  background: linear-gradient(
    90deg,
    #022b59 44.92%,
    rgba(31, 39, 113, 0.62) 100%
  );
  width: 40%;
}
.registrobox-imagen {
  object-fit: cover;
  border-radius: 0px 50px 50px 0px;
  width: 100%;
}
.loginbox-registrarseBtn {
  border: none;
  border-radius: 8px;
}
.dsbCursor{
  cursor: initial;
}
.registrobox-botones-container {
  display: flex;
  gap: 8px;
}

.registrobox-formulario-input {
  width: 100%;
}

.registrobox-formulario-soyProfesional {
  height: 44px;
}

.registrobox-logo{
  width: 100px;
}


@media (max-width: 1024px) {
  .registrobox-imagen-container{
    display: none;
  }
  .registrobox-formulario, .registrobox-formulario{
    width: 100%;
  }

}


