.comidaCorrecta-volverAccion {
  padding: 20px 20px 0 20px;
  display: flex;
  justify-content: space-between;
}
.comidaCorrecta-ayudaBtn{
  width: 40px;
  border: none;
  background: none;
  cursor: pointer;
}
.comidaCorrecta-btnCont {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100px;
}
.comidaCorrecta-btn {
  display: flex;
  align-items: center;
}
.comidaCorrecta-animal-juego {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.comidaCorrecta-container {
  border: 5px solid var(--color-grey90);
  border-radius: 60px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 60%;
  height: 100%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: var(--color-latex10);
}
.comidaCorrecta-animalBurbuja {
  align-items: center;
}
.comidaCorrecta-pregunta-rta {
  display: flex;
  gap: 100px;
  align-items: center;
}
.comidaCorrecta-imagenesRta {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 60px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 270px;
}
.comidaCorrecta-pregunta {
  display: flex;
  align-items: center;
  gap: 10px;
}
.comidaCorrecta-arrayContainer {
  cursor: pointer;
}
.comidaCorrecta-array {
  width: 150px;
}
.comidaCorrecta-arraySelected {
  transform: scale(1.25);
  border: 6px solid orange;
  border-radius: 100%;
}
.comidaCorrecta-imagen {
  width: 220px;
}
.comidaCorrecta-imagenPregunta {
  width: 140px;
  position: absolute;
  left: 34%;
  top: 19%;
}
.comidaCorrecta-imagenBurbuja {
  width: 350px;
  margin-left: 110px;
}
.comidaCorrecta-btnContainer {
  margin-top: 20px;
  display: flex;
  gap: 28px;
}
.comidaCorrecta-btnListo,
.comidaCorrecta-btnFinalizar {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
  justify-content: center;
  cursor: pointer;
}
.iconButtonVoF {
  background: none;
  border: none;
  cursor: pointer;
}
@media (max-width: 1365px) {
  .comidaCorrecta-container {
    padding: 8px;
  }

  .comidaCorrecta-imagenPregunta {
    width: 110px;
    position: absolute;
    left: 35%;
    top: 16%;
  }
  .comidaCorrecta-imagen {
    width: 180px;
  }
  .comidaCorrecta-imagenBurbuja {
    width: 220px;
    margin-left: 90px;
  }
  .comidaCorrecta-imagenesRta {
    margin-top: 12px;
    width: 280px;
    gap: 20px;
  }
  .comidaCorrecta-array {
    width: 130px;
  }
}

@media (max-width: 1280px) {
  .comidaCorrecta-imagenPregunta {
    left: 37%;
    top: 14%;
  }
  .comidaCorrecta-pregunta-rta {
    gap: 10px;
  }
}

@media (max-width: 1024px) {
  .comidaCorrecta-array {
    width: 100px;
  }
  .comidaCorrecta-imagenPregunta {
    left: 48%;
    top: 14%;
  }
  .comidaCorrecta-pregunta-rta {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
  .comidaCorrecta-imagenesRta {
    display: flex;
    gap: 20px;
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}
@media (max-width: 768px) {
  .comidaCorrecta-container {
    width: 90%;
  }
  .comidaCorrecta-animalIzq {
    display: none;
  }
  .comidaCorrecta-animalDer {
    display: none;
  }
}
@media (max-width: 600px) {
  .comidaCorrecta-imagenesRta {
    width: 280px;
  }
}
