.llamadaProfesional-container {
  border-radius: 16px;
  position: absolute;
  width: 100%;
  height: 86%;
  padding: 20px 40px;
  top: 120px;
  left: 0;
  background-color: var(--color-latex30);
  
}

.llamadaProfesional-videosContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  gap: 20px;
}

.llamadaProfesional-boxLeft{
  display: flex;
  flex-direction: column;
}

.nota-videoMiniatura-container{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.llamadaProfesional-videoLocal {
  width: 240px;
  border-radius: 8px;
  z-index: 10;
}

.llamadaProfesional-videoRemote {
  width: 710px;
  height: 400px;
  background-color: var(--color-white);
  border-radius: 16px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.llamadaProfesional-botones-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btnllamadaProfesional {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}


.llamadaProfesional-btn-btn {
  width: 110px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 0;
}
