.loginbox-container {
  max-width: 1500px;
  background: var(--color-blue);
  border-radius: 50px;
  display: flex;
  margin: 40px;
}
.fondoBlue-login{
  background: linear-gradient(
    90deg,
    #0459BA 44.92%,
    rgba(4, 89, 186, 1) 100%
  );
  color: var(--color-white);
}
.loginbox-logo{
  width: 100px;
 
}
.loginbox-formulario {
  width: 50%;
  padding: 40px;
}

.loginbox-formulario-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.loginbox-imagen-container {
  display: flex;
}
.loginbox-formulario-body {
  margin-top: 30px;
}
.loginbox-registrate{
}
.loginbox-regBtn{
  cursor: pointer;
}
.loginbox-regBtn:hover{
  text-decoration: underline;
}
.loginbox-ingresarBtn{
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
}
.loginbox-imagen {
  object-fit: cover;
  border-radius: 0px 50px 50px 0px ;
  width: 100%;
}

.loginbox-formulario-input-container{
  height: 88px;
}
