.home-container{
  padding: 60px 120px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.home-logoBienvenida{
  display: flex;
  align-items: center;
  gap: 40px;
}
.home-logo{
  width: 250px;
}
.home-listaJuegos{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

